@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  font-family: "Kiwi Maru", serif;
  width: 95%;
  max-width: 414px;
  background-image: url("img/bg.png");
  background-size: 300%;
  background-position: center;
}
.active {
  background-color: white !important;
}
.plan-selector.active {
  border: 5px #eba700 solid;
}

.peopleselectplan {
  position: relative;
  overflow: visible;
}
.peopleselectplan::before {
  content: url("img/14.png");
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
}

.mark {
  display: inline-block;
  padding: 0 5px 5px 0;
}
.num {
  border-bottom: 1px #345d47 solid;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  padding: 5px 0;
}

#result {
  font-size: 24px;
}
#result span {
  font-size: 32px;
  padding: 0 8px;
}
