@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.active {
  opacity: 0.5;
}

body {
  font-family: "Kiwi Maru", serif;
}
